.header-component{
  width: 74%;
  position: absolute;
  z-index: 111;
  display: flex;
}

.wrap{
  width: 50%;
}

.download-fixed-component{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}



.hamburger {
  background-color: transparent;
  border: 0;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: 15px 15px;
  cursor: pointer;
}

.hamburger-box {
  height: 24px;
  display: inline-block;
  position: relative;
  width: 40px;
}

.hamburger-inner {
  display: block;
  margin: -2px;
  position: relative;
  top: 50%;

  &,
  &:before,
  &:after {
    background-color: var(--dark-grey-text);
    border-radius: 4px;
    content: "";
    display: block;
    height: 4px;
    position: absolute;
    width: 40px;

    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &:before {
    top: -10px;
  }

  &:after {
    bottom: -10px;
  }
}


.hamburger--squeeze {

  .hamburger-inner {
    transition-duration: 0.1s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &:before {
      transition: top 0.1s 0.14s ease, opacity 0.1s ease;
    }

    &:after {
      transition: bottom 0.1s 0.14s ease, transform 0.1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }
}

.hamburger--squeeze.is-active {

  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  overflow: visible;
  padding: 15px 15px;
  position: fixed;

  .hamburger-inner {
    background-color: var(--bg-2-grey);
    transform: rotate(45deg);
    transition-delay: 0.14s;
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    cursor: pointer;


    &:before {
      background-color: var(--bg-2-grey);
      top: 0;
      opacity: 0;
      transition: top 0.1s ease, opacity 0.1s 0.14s ease;
    }

    &:after {
      background-color: var(--bg-2-grey);
      bottom: 0;
      transform: rotate(-90deg);
      transition: bottom 0.1s ease, transform 0.1s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
    }

  }

}

