:root{
  --bg:#F4F6F6FF;
  --border: #e1e0e0;
  --color-text: #484848;

  --bg-2-grey:#e1e0e0;
  --bg-3-dark-grey:#525252;




  //colors
  --purple:#815181;
  --green:#7ebb8c;
  --black:#424242;
  --grey-text:#e1e0e0;
  --dark-grey-text:#525252;


  --landing-1: #d08686;
  --landing-2: #7ebb8c;
  --landing-3: #86d0c7;
  //--landing-4: #aa86d0;
  --landing-4: #86a4d0;
  --landing-5: #d0c486;

}